{{#if isEditMode}}
  <div>
      <div class="team-name-edit">
        {{input type="text" value=team.city}}
        {{input type="text" value=team.mascot}}
      </div>
      <div class="edit-buttons">
          <div {{action "save"}}>save</div>
          <div {{action "cancel"}}>cancel</div>
      </div>
  </div>
{{else}}
    <div class="team-name">
        <div class="team-name-display">
            {{#if teamNameStack}}
                <div>{{team.city}}</div>
                <div>{{team.mascot}}</div>
            {{else}}
                <div>{{team.teamName}}</div>
            {{/if}}
        </div>
        {{#if canEdit}}
          <div class="edit-buttons">
            <div {{action "edit"}}>edit</div>
          </div>
        {{/if}}
    </div>
{{/if}}

{{#if showOrigin}}
  <div class="origin-team-name">
   {{team.originTeamName}}
  </div>
{{/if}}

<div class="image-container {{if isHighlighted "highlighted"}}" {{action "onClick"}}>
    <img src="{{team.imageURL}}" />
</div>