{{#if isEditMode}}
  <div class="">
      <div class="team-name-edit">
        {{input type="text" value=team.city}}
        {{input type="text" value=team.mascot}}
      </div>
      <div class="edit-buttons">
          <div {{action "save"}}>save</div>
          <div {{action "cancel"}}>cancel</div>
      </div>
  </div>
{{else}}
    <div class="team-name">
        <div class="team-name-display">
          <div>{{team.teamName}}</div>
        </div>
        <div class="edit-buttons">
          <div {{action "edit"}}>edit</div>
        </div>
    </div>
{{/if}}

<div class="origin-team-name">
 {{team.originTeamName}}
</div>

<div class="image-container" {{action "onClick"}}>
    <img src="{{team.imageURL}}" />
</div>